body{
    background: url(./pictures/bg.png) no-repeat center center / cover;
    margin: 0;
}
/* Header */
.topnav {
    display: none;
}
.box {
    /* position: relative; */
    background-color: #F9F9F9;
    max-width: 1440px;
    min-height: 780px;
    width: 95%;
    margin: 100px auto;
    padding-top: 30px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.30); 
    overflow-y: hidden;
}
header {
    display: flex;
    justify-content: space-evenly;
}
.navigation {
    display: flex;
}
.logo div {
    color: #111111;
    font-size: 36px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    margin-left: 100px;
    cursor: default;
}
.logo span {
    color:#C8815F;
}
.menu {
    margin-right: 50px;
}
.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    list-style: none;
    font-family: 'Jost', sans-serif;
    font-size: 17px;
    cursor: pointer;
}
.menu ul li:hover {
    color:#c174c3;
    font-size: 17px;
    transform: scale(1.09);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}
.icons ul {
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    gap: 35px;
    list-style:none;
    margin-right: 100px;
    cursor: pointer;
}
.icons img:hover {
    transform: scale(1.09);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}
/* Top Navigation Menu */
.topnav {
    background-color: #dedbdb;
    position: relative;
    border-radius: 20px;
    margin-right: 30px;
}
.topnav #myLinks {
    display: none;
    margin-top: 10px;
    padding-top: 50px;
}
.topnav a {
    color: rgb(114, 112, 112);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.topnav a.icon {
    background-color: #dedbdb;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 0;
}
.topnav a:hover {
    background-color: #f0ecec;
    border-radius: 20px;
    color: rgb(37, 37, 37);
}
.active {
    background-color: #F9F9F9;;
    color: white;
}
    
/* Middle */
.right {
    float: right;
    margin-top: 340px;
    padding-right:50px;
    cursor: pointer;
}
.left {
    float: left;
    margin-top: 340px;
    padding-left:50px;
    cursor: pointer;
}
.right img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}
.left img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}
.title {
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
    font-family:'Jost', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}
.title span {
    font-size: 17px;
    font-weight: 500;
}
.title button {
    background:none;
    font-family:'Jost', sans-serif;
    font-size: 16px;
    border: 1px solid #111111;
    padding: 9px 32px 12px 32px;
    border-radius: 4px;
    cursor: pointer;
}
.title button:hover {
    color:rgb(126, 13, 83);
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}
.nike{
    margin-left: 30%;
}
.nike img{
    width: 62%;
    margin-left: 18%;
}
/* Footer */
footer img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}
footer{
    display: flex;
    justify-content: center;
}
.dots {
    display: flex;
    gap: 50px;
    padding-top:60px;
}
.dot1  {
    width: 7px;
    height: 7px;
    background: black;
    border-radius: 50%;
    margin: 0px; 
}
.dot1:hover {
    font-size: 17px;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
    box-shadow: 0 0 0 10px #b9c0c5; 
}

@media only screen and (max-width: 1150px) {
    .menu {
        display: none;
    }
    .topnav {
        display: block;
        margin-left: 100px;
    }
    .icons ul {
        gap: 10px;
    }
    header {
        justify-content:left;
    }
    p, button {
        margin-left: 40px;
    }
    .title {
        margin-top: 7%;
        margin-left: 13%;
        font-size: 45px;
        line-height: 50px;
    }
    .title span {
        font-size: 17px;
    }
    .nike img{
        width: 50%;
        margin-left: 30%;
        margin-top: 50px;
    }
    .dots {
        padding-top:170px;
    }
    .right, .left {
        margin-top: 300px;
    }
}

@media screen and (max-width: 956px) {
    .title  {
        text-align: center;
        position: relative;
    }
    .title p{
       margin-left: -70px;
       margin-right: 70px;
    }
    .title span {
        font-size: 20px;
    }
    .title button {
        font-size: 20px;
        margin-top: -40px;
        margin-left: -20px;
    }
    .nike {
        text-align: center;
    }
    .nike img {
        width: 80%; 
        margin-left: -20%;
    }
    .right {
        margin-top: -15px;
    }
    .dots {
        margin-bottom: 80px;
        padding-top: 50px;
    }
}


@media screen and (max-width: 510px) {
    header {
        display: flex;
        flex-direction: column;
    }
    .logo div {
        margin-left: 40px;
    }
    .icons ul {
        margin-left: 0px;
    }
    .topnav {
        margin-top: 10px;
        margin-left: 40px;
    }
    .title {
        font-size: 30px;
        line-height: 40px;
        margin-top: 50px;
    }
    .title span {
        font-size: 15px;
    }
    .title button {
        font-size: 20px;
        margin-top: -40px;
        margin-left: -70px;
    }
    .left{
        margin-top: 230px;
    }
}

@media screen and (max-width: 400px) {
    .left, .right{
        display: none;
    }
    .title p {
      margin-left: 30px;
    }
    .title button {
        margin-left: -20px !important;
    }
    .nike img {
        width: 80%; 
        margin-left: -50%;
    }
}